body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

#mario-to-castle {
    height: 70%;
    display: flex;
    justify-content: space-between;
}

#castle {
    margin-right: 5%;
    width: 30%;
    height: 80%;
    align-self: flex-end;
}

#mario {
    margin-left: 55%;
    width: 10%;
    height: 25%;
    align-self: flex-end;
    -webkit-animation: walk-to-right 3s ; /* Safari 4+ */
    -moz-animation:    walk-to-right 3s ; /* Fx 5+ */
    -o-animation:      walk-to-right 3s ; /* Opera 12+ */
    animation:         walk-to-right 3s ease-out; /* IE 10+, Fx 29+ */
}

#ground-container {
    width: 100%;
    height: 30%;
}

#ground-container div {
    width: 100%;
    height: 33.33%;
    background-repeat: repeat-x;
    background-size: 5.55vw 100%;
}

/**
keyframe animation
 */

@-webkit-keyframes walk-to-right {
    0%   { margin-left: 10%; }
    100% { margin-left: 55%; }
}
@-moz-keyframes walk-to-right {
    0%   { margin-left: 10%; }
    100% { margin-left: 55%; }
}
@-o-keyframes walk-to-right {
    0%   { margin-left: 10%; }
    100% { margin-left: 55%; }
}
@keyframes walk-to-right {
    0%   { margin-left: 10%; }
    100% { margin-left: 55%; }
}


